<script type="text/javascript">
  window.globeIcon = '<%= asset_path('intro_globe.png') %>'
  window.friendsIcon = '<%= asset_path('Friends.png') %>'
  window.friendRequestIcon = '<%= asset_path('friendrequest.png') %>'
  window.postIcon = '<%= asset_path('post_status.png') %>'
  window.photoIcon = '<%= asset_path('post_photo.png') %>'
  window.likeIcon = '<%= asset_path('likeicon.png') %>'
  window.likedIcon = '<%= asset_path('likedicon.png') %>'
  window.commentIcon = '<%= asset_path('commenticon.png') %>'
  window.shareIcon = '<%= asset_path('shareicon.png') %>'
  window.friendRequestIcon = '<%= asset_path('nav_friends_active.png') %>'
</script>

<div id="content">

</div>
